
extends layout

block content

	nav.navbar.navbar-default.navbar-fixed-top
		.container
			a(href='/home')
				img(src='/vendor/vergemobile.png')
			.navbar-header
				.navbar-brand Training System
			ul.nav.navbar-nav.navbar-right
				li
					.navbar-btn#btn-logout.btn.btn-default
						| Sign Out

	include account
	
block scripts
	script(src='/vendor/jquery-2.2.3.min.js')
	script(src='/vendor/jquery.form.min.js')
	script(src='/vendor/bootstrap.min.js')
	script(src='/js/views/home.js')
	script(src='/js/controllers/homeController.js')
	script(src='/js/form-validators/accountValidator.js')